body {
    background-color: #3E606F;
    margin: 0;
}

h1 {
    font-family: 'Righteous', cursive;
    color: #C4C5C6;
}

h2 {
    font-family: 'Righteous', cursive;
    color: #C4C5C6;
}

.topnav {
    background-color: #193441;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #91AA9D;
    color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #193441;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #f2f2f2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown .dropbtn:hover {
    background-color: #91AA9D;
    color: balck;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown {
  float: left;
  overflow: hidden;
}
