body {
    background-color: #3E606F;
    margin: 0;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

h1 {
    font-family: 'Righteous', cursive;
    color: #C4C5C6;
}

h2 {
    font-family: 'Righteous', cursive;
    color: #C4C5C6;
}

.topnav {
    background-color: #193441;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #91AA9D;
    color: black;
}
